@model Letzte_Zeugen.Db.Modell

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Modell</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ausschnitt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ausschnitt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDExistent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDExistent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bezeichnung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bezeichnung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErstellungszeitraumModell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErstellungszeitraumModell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErstellungszeiraumBauwerk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErstellungszeiraumBauwerk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbmessungenLxBxH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbmessungenLxBxH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kapitel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kapitel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seitenzahl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seitenzahl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDMessmodell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDMessmodell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spannweite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spannweite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDZustand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDZustand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Massstab)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Massstab)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErstellungsortNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErstellungsortNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDAbbildungNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDAbbildungNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDBautypusNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDBautypusNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDBeteiligteInstituteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDBeteiligteInstituteNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDEigentuemerNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDEigentuemerNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDGefaehrdungNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDGefaehrdungNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDMaterialNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDMaterialNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDProjektNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDProjektNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDPruefinstitutNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDPruefinstitutNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDUrheberNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDUrheberNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StandortNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StandortNavigation.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BauwerkLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BauwerkLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDLinkNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDLinkNavigation.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
